* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
  background:teal;
  background-size: 400% 400%;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 60px;
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #00e6e6;
  box-shadow: 0 0 15px #00e6e6;
}

.logo img:hover {
  transform: scale(1.1);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}

nav a:hover {
  color: #00e6e6;
}

.section {
  max-width:900px;
  margin: 40px auto;
  scroll-margin-top: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 40px;
  text-align: left;

}
Ol li{
  text-align: left;
  line-height: 1.5rem;

}
h2 {
  color: #00e6e6;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

ul li {
  margin: 8px 0;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
  margin: 0 auto;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
}

button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #00e6e6;
  color: #111;
  font-weight: 600;
  cursor: pointer;

}

footer {
  text-align: center;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 40px;
  color: #aaa;
}
#contact h2{
  text-align: center;
}

#home h2, p{
  text-align: center;
}
